{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css'%}">
<div class="navbar">
    <div class="logo">
        <h1>Monster</h1>
    </div>
    <div class="navlinks">
        <ul>
            <li><a  id="active"href="{% url 'user'%}">Home</a></li>
        <li><a href="#demo1">Available Jobs</a></li>
        <li><a href="#demo2">Applied Jobs</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
        </ul>
    </div>
    <div class="Login">
     <a href="{% url 'index'%}"><button id="demo5">log Out</button></a>
    </div>
</div>